<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Restaurants - {{restaurant.name}} - Delete Menu Item</title>
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 page-header">
				<h1>
					Are you sure to delete the menu item "{{item.name}}"?
				</h1>
			</div>
			<div class="col-sm-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>
							<b>{{item.name}}</a></b>
							<div class="clearfix"></div>
						</h3>
  					</div>
					<div class="panel-body">
						{{item.description}}
					</div>
					<div class="panel-footer">
						<form action="{{url_for('delete_menu_item', restaurant_id=restaurant.id, menu_item_id=item.id)}}" method="post">
							<button class="btn btn-danger" name="submit" value="delete">Delete</button>
							<a class="btn btn-default" href="{{url_for('list_menu_item', restaurant_id=restaurant.id)}}">Cancel</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>