{% extends "layout.html" %}
{% block body %}
	<div class="col-xs-12 page-header">
		<h1>
			Add A New Restaurant
		</h1>
	</div>
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{url_for('list_restaurants')}}">Restaurants</a></li>
			<li class="breadcrumb-item">Add</li>
		</ol>
	</div>
	<div class="col-sm-12">
		<form action="{{url_for('add_restaurant')}}" method="post">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>
						<b><input type="text" name="name" placeholder="New Restaurant's Name"></b>
						<div class="clearfix"></div>
					</h3>
			  					</div>
				<div class="panel-body">
					<textarea class="form-control" rows="5" name="description"></textarea>
					<button class="btn btn-info" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}